.navbar__menu {
    margin-top: 6px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 80px;
}

@media screen and (max-width: 700px) {
    .navbar__menu {
        display: none;
    }
}