.popup__error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: 5px;
    position: absolute;
    top: 32px;
    left: 0;
    transition: 0.3s;
}