.popup__form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 430px;
}

@media screen and (max-width: 600px) {
    .popup__form {
        max-width: 282px;
    }

}