.authorizations__title{
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .authorizations__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}